VITE_FIREBASE_API_KEY=AIzaSyCWE0lU5nlUkB-o6DjiPD6JHsSJGNdMtlY
VITE_FIREBASE_AUTH_DOMAIN=chatboot-f63b4.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=chatboot-f63b4
VITE_FIREBASE_STORAGE_BUCKET=chatboot-f63b4.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1033249186837
VITE_FIREBASE_APP_ID=1:1033249186837:web:551186055ec595c5a49a1c
VITE_API_BASE_URL=https://ai-chat-boot-eight.vercel.app/api
